/* AHORA NOS VAMOS A LOS ESTILOS ......*/
body
{
	background: #7e1ed7;
	font-family: Times New Roman;
	font-size: 11px;
	width: 1200px;
	margin: auto;
}
/*ESTILOS PARA LA IMAGEN DE ARRIBA*/
#logo
{
	background: url(../img/trabajadores.png) no-repeat right;
	background-size: 35%;
	/*Agregaremos un padding*/
	padding: 20em 0em 0em 0em;
	text-transform: uppercase;
}
/*Estilo para la Etiqueta "a" incluida en H1*/
#logo h1 a
{
	margin: 0em;
	padding: 0em 0em 0em 0em;
	letter-spacing: -.1em;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold; 
	color: #fff;
}

/*Estilo para el subtitulado "BIENVENIDO A NUESTRO SITIO"*/
#subtitulo
{
	padding: 0em;
	margin-top: -1em;
	font-size: 2em;
	/*AHORA SI COPILA...*/
	font-weight: bold;
	color: #BDF2FF;
}
/*Estilo para los elementos de la lista del menu*/
#menu li
{
	/*AHORA LOS BOTONES SE VISUALIZAN EN BLOQUES*/
	display: inline-block;
}
/*Estilo para los elementos de la lista del Menu*/
#menu li 
{
	display: block;
	float: left;
	margin-right: 0.12em;
	padding: 1em 1.5em;
	/*VA QUEDANDO...*/
	/*COMO VEMOS, SE GENERO UN CUADRO PARA LOS BOTONES*/
	background: #178EAE;
	/*DAMOS UNA SOMBRITA A LOS BOTONES*/
	box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.25);
	text-decoration: none;
	/*UNA SOBRA PARA EL TEXTO COMO SE VISUALIZA*/
	text-shadow: 1px 1px 0px #0C749C;
	text-transform: uppercase;
	font-size: .90em;
	color: #FFF;
}
/*Estilo para la seccion que muestra el contenido*/
#seccion
{
	width: 1150px;
	padding: 20px 40px;
	background: #FFF;
	height: 290px;
}
/*Estilo para la imagen que se encuentra dentro de la seccion*/
#imagen
{
	margin-top: 0em;
	width: 330px;
	height: 250px;
	text-align: center;
}
/*Estilo para el titulo dentro de la seccion*/
#subtitulo2
{
	font-family: tahoma, Geneva, sans-serif;
	font-size: 25px;
	color: #039;
}
/*Estilo para el texto del lado derecho*/
#ladoderecho
{
	margin: -5px 20px 0px 0px;
	float: right;
	width: 65%;
	/* EL TEXT-ALIGN TE JUSTIFICA EL TEXTO CUAL LO AUTOMIZA AL LUGAR
	CORRESPONDIDO ES DECIR UN FLOAT RIGHT, AL LADO DERECHO*/
	text-align: justify;
	color: #666;
}
/*ESTILO para el texto del pie del documento */

#pie{
	text-align: left;
}
/*Estilo para todos los parrafos del documento*/
p{
	font-family: Georgia;
	font-size: 11pt;
}



/*BUENO ESO ES TODO MUCHACHOS, ESPERO QUE LES AHIGA GUSTADO
ESTE TUTORIAL BASICO SOBRE MAQUETAR EN HTML5 Y CSS3*/

NO OLVIDEN SUBCRIBIRSE; MAS ADELANTE SEGUIRE CON MAS
VIDEOS, SALUDOS............



































































